# ignore source files of the Typescript project
src/

# ignore tests
**/*.test.*
**/*.test.d.ts
test/
test-d/

# ignore configs
.luarc.json
biome.json
# these names cannot be declared using {js,mjs,cjs} syntax
# is this case rule n/no-unpublished-import yells at me
eslint.config.js
eslint.config.mjs
eslint.config.cjs
tsconfig.json
tsconfig.*.json
vitest.config.js
vitest.config.ts

# ignore lockfiles
bun.lock
bun.lockb
package-lock.json
pnpm-lock.yaml
yarn.lock

# ignore repo configs
.github/
.gitea/

# ignore IDE files
.idea
.nova